.error {
    background-color: #c44e4e;
    border-radius: 4px;
    padding: 20px;
    color: #FFF;
    margin-bottom: 20px;
    font-weight: bold;
}

.success {
    background-color: #63b763;
    border-radius: 4px;
    padding: 20px;
    color: #FFF;
    margin-bottom: 20px;
    font-weight: bold;
}