
.item{
    padding: 10px;
    width: 100%;
    transition: background-color 0.1s ease-in-out;
}

.item:nth-child(even) {
    background-color: aliceblue;
}

.item:hover {
    background-color: rgb(218, 226, 233);
}

.item h2{
    margin: 0;
}

.item a {
    color: inherit;
}

.itemData{
    display: flex;
    gap: 10px;
}
.itemData button{
    margin: 0;
}
.auctionTitle {
    text-decoration: none;
}

.itemData div{
    display: flex;
    flex-direction: column;
}

