.header {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.header .logo {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -3px;
  align-self: center;
}

.header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0 20px;
  display: flex;
}

.header nav li {
  display: flex;
}

.header nav a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 20px;
  transition: border-color 0.1s ease-in-out;
  text-transform: uppercase;
}

.header nav a:hover {
  border-color: #121212;
}

.header button {
  background-color: #121212;
  color: white;
  padding: 10px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.1s background-color ease-in-out;
  text-transform: uppercase;
}

.header button:hover {
  background-color: #303030;
}

.header .login {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.header .login:hover {
  text-decoration: none;
  color: inherit;
}