.account-register {
    width: 50%;
    margin: 0 auto;
}

.account-register .register-form {}

.account-register .register-form .input-field {
    margin-bottom: 20px;
}

.account-register .register-form .input-field label {
    font-weight: bold;
}

.account-register .register-form .input-field p {
    margin: 0 0 10px;
}

.account-register .register-form .input-field input {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.account-register .register-form .input-field input:last-child {
    margin-bottom: 0;
}

.account-register .register-form button {
    background-color: #121212;
    color: white;
    padding: 20px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s background-color ease-in-out;
    text-transform: uppercase;
}

.account-register .register-form button:hover {
    background-color: #303030;
}
